body {
    background-color: black;
}
p{
    color: white;
}
main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
img {
   /* display: flex;
   /* justify-content: center;
   /* align-items: center;*/
}
